//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW1NR-LV4QN88PC6/I5
//Device: GW1NR-4
//Device Version: D
//Created Time: Mon 04 27 19:17:54 2026

IO_LOC "ad_cs" 40;
IO_PORT "ad_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ad_sck" 41;
IO_PORT "ad_sck" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ad_convert" 42;
IO_PORT "ad_convert" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "psram_sck_a" 33;
IO_PORT "psram_sck_a" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "psram_cs_a" 29;
IO_PORT "psram_cs_a" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_miso" 81;
IO_PORT "spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "psram_io_a[3]" 34;
IO_PORT "psram_io_a[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE  BANK_VCCIO=3.3;
IO_LOC "psram_io_a[2]" 31;
IO_PORT "psram_io_a[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE  BANK_VCCIO=3.3;
IO_LOC "psram_io_a[1]" 30;
IO_PORT "psram_io_a[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE  BANK_VCCIO=3.3;
IO_LOC "psram_io_a[0]" 32;
IO_PORT "psram_io_a[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE  BANK_VCCIO=3.3;
IO_LOC "qspi_io[3]" 73;
IO_PORT "qspi_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "qspi_io[2]" 83;
IO_PORT "qspi_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "qspi_io[1]" 74;
IO_PORT "qspi_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "qspi_io[0]" 75;
IO_PORT "qspi_io[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP  BANK_VCCIO=3.3;
IO_LOC "ad_doutb" 37;
IO_PORT "ad_doutb" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ad_douta" 38;
IO_PORT "ad_douta" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ad_busy" 39;
IO_PORT "ad_busy" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "qspi_cs" 79;
IO_PORT "qspi_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "qspi_sck" 76;
IO_PORT "qspi_sck" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_mosi" 80;
IO_PORT "spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_cs" 82;
IO_PORT "spi_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_sck" 77;
IO_PORT "spi_sck" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_din[7]" 18;
IO_PORT "i_din[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_din[6]" 17;
IO_PORT "i_din[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_din[5]" 16;
IO_PORT "i_din[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_din[4]" 15;
IO_PORT "i_din[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_din[3]" 14;
IO_PORT "i_din[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_din[2]" 13;
IO_PORT "i_din[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_din[1]" 85;
IO_PORT "i_din[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_din[0]" 84;
IO_PORT "i_din[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "RST_N" 86;
IO_PORT "RST_N" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CLK_25M" 11;
IO_PORT "CLK_25M" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ad_doutc" 36;
IO_PORT "ad_doutc" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ad_doutd" 35;
IO_PORT "ad_doutd" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
